
services:
  backend:
    build: ./GoAprendizajeBackend # Ruta a la carpeta del backend
    container_name: go-aprendizaje-backend
    
    env_file:
      - ./GoAprendizajeBackend/.env
      
    ports:
      # Mapea el puerto del Host al Contenedor
      - "8080:8080" 
      
    volumes:
      # 1. Volumen nombrado para los archivos subidos
      # Conecta el volumen 'uploads-data' a la ruta del contenedor
      - uploads-data:/app/uploads 
      
      # 2. Volumen nombrado para los logs persistentes
      # Conecta el volumen 'log-data' a donde sea que escribas el log
      # (Asumiendo que 'app.log' se escribe en el WORKDIR /app)
      - log-data:/app/logging
    
    networks:
      - mi-red
    
  frontend:
    build: ./NuxtFrontend # Ruta a la carpeta del frontend
    container_name: nuxt-aprendizaje-frontend
    ports:
      - "3000:3000"

    env_file:
      - ./NuxtFrontend/.env
    networks:
      - mi-red
    depends_on:
      - backend # Espera a que el backend inicie
    
# Definición de los volúmenes nombrados
volumes:
  uploads-data:
    driver: local 
  log-data:
    driver: local

networks:
  mi-red:
    driver: bridge